.burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1100;
}

.burger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #0b132a;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.burger.active span:nth-child(1) {
    transform: rotate(45deg) translateY(7px);
}
.burger.active span:nth-child(2) {
    opacity: 0;
}
.burger.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-7px);
}
