@import url("layout.css");
@import url("header.css");
@import url("hero.css");
@import url("features.css");
@import url("testimonials.css");
@import url("subscribe.css");
@import url("footer.css");
@import url("burger.css");
@import url("animations.css");
@import url("media.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Rubik", sans-serif;
    color: #4f5665;
    background-color: #fff;
    line-height: 1.5;
}

img {
    max-width: 100%;
    display: block;
}
